* {
    box-sizing: border-box;
}

body {
    
    font-family: Arial;
    background: #000;
    color: white;
}

.game {
    color: white;
    background: blue;
}

.panels {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    color: #fff;
}

/* .panel {
    flex: 1;
} */

/*
 * download
 */
.panel {
	position: relative;
    display: inline-block;
    font-weight: bold;
}

.panel:hover .overlay {
	display: block;
}

.overlay {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.overlay a {
	color: #1971ff;
}


/* */

.panel:hover .list {
	display: block;
}

.list {
    padding-top: 7px;	
	padding-right: 7px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


/* end fav section */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .panels {
        padding: 40px;
    }

    .panels .panel {
        width: 100%;
    }
    .panels .panel img {
        width: 100%;
    }
}